.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.pytest_cache/**
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.env
.env.*

.DS_Store
Thumbs.db

.vscode/
.idea/

src/output/
*.log
